.chef {
  background: url(../imgs/chef/chef-2.jpg);
  
  background-size: cover;
  background-position: center;
 
}
@media screen and (min-width: 1280px) {
  .chef {
    background-position: top;
    
  }
}